<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -SM Canteen App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#515A5A;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="visibility: hidden;">
        <div class="container" style="background-color:black; visibility: visible;">
            <div class="navbar-header" style="background-color:black">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse" style="background-color:black; visibility:visible">

                <ul class="nav navbar-nav" style="font-family:'Lucida Bright'; font-size:medium; color:ghostwhite">

                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color:whitesmoke" })</li>
                    <li>@Html.ActionLink("Employee", "Index", "Employees", null, new { style = "color:whitesmoke" })</li>
                    <li>@Html.ActionLink("Item List", "Index", "Items", null, new { style = "color:whitesmoke" })</li>
                    <li>@Html.ActionLink("Sales List", "Index", "Sales", null, new { style = "color:whitesmoke" })</li>
                    <li>@Html.ActionLink("Sales Item", "SalesItemList", "Items", null, new { style = "color:whitesmoke" })</li>
                    <li>@Html.ActionLink("Download Report", "EmployeeDueReport", "Employees", null, new { style = "color:whitesmoke" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="font-family:'Times New Roman';background-color:#ECF0F1; padding:20px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - Saad Musa IT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
